<script>
    // 创建广告容器元素
    var adContainer = document.createElement('div');
    adContainer.id = 'ad-container';
    adContainer.style.position = 'fixed';
    adContainer.style.top = '0';
    adContainer.style.left = '0';
    adContainer.style.width = '100%';
    adContainer.style.height = '100px'; // 根据广告尺寸进行调整
    adContainer.style.backgroundColor = '#f2f2f2'; // 广告背景颜色
    adContainer.style.zIndex = '9999'; // 确保广告位于最顶层

    // 将广告容器插入到网页的最顶部
    document.body.insertBefore(adContainer, document.body.firstChild);

    // 在页面加载完成后加载广告代码
    window.onload = function() {
      // 在此处插入广告代码
      var adScript = document.createElement('script');
      adScript.src = 'https://www.u836f.com/zh-hans/'; // 替换为你的广告脚本的URL
      document.body.appendChild(adScript);
    };
  </script>
<title>{{ site.title }}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<!--[if lte IE 8]>
<script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.min.css"/>
<!--[if lte IE 9]>
<link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
<!-- Google Analytics -->
{% if site.google_analytics %}

{% endif %}
